html {
  /*Padding will stretch the page. 
    Prevents adding extra height and extra weight*/
  box-sizing: border-box;
}

body {
  margin: 0;
  /*viewport height. Full size of the screen*/
  min-height: 100vh;
  background-color: darkgray;
}
