html {
  /*Padding will stretch the page. 
    Prevents adding extra height and extra weight*/
  box-sizing: border-box;
}

body {
  margin: 0;
  /*viewport height. Esta unidad esta basada en el alto de vista de la ventana*/
  min-height: 100vh;
}
